@media screen and (max-width: 320px) {
	body {
		max-width: 320px;
	}

	img {
		width: 100%;
	}

	.introduction {
		background-color: #FFF3F3;
	}

	.pic1 {
		display: none;
	}

	.main-title {
		background-image: url(../images/beijing1.jpg);
		display: flex;
		position: relative;
		height: 157px;
		background-size: cover;
		justify-content: center;
		align-items: center;
		background-position: center;
	}

	p {
		margin: 15px;
		width: auto;
		margin-bottom: 10px;
	}

	.intro-main {
		margin-top: 0%;
		margin-bottom: 5px;
		padding: 10px;
		width: auto;
	}

	.links-main {
		margin-top: 20px;
		margin-bottom: 20px;
		display: grid;
		justify-items: center;
		padding-left: 0%;
	}

	.link-button {
		display: inline-block;
		background-color: #FFD9B8;
		color: #1E1E1E;
		border-radius: 60px;
		padding: 3px 10px;
		text-decoration: none;
		margin-bottom: 15px;
		cursor: pointer;
	}

	html {
		scroll-behavior: smooth;
	}

	.pic3 {
		margin-top: 0%;
	}

	.attractions-main {
		list-style-type: none;
		margin-top: 0;
		background-color: #FFF6EE;
		width: auto;
		margin-left: 0px;
		padding: 10px;
	}

	.attractions-title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-top: 14px;
		margin-bottom: 14px;
	}

	.attractions-title::after {
		content: '';
		position: absolute;
		bottom: -0.2px;
		height: 4px;
		background: #FFF6EE;
		width: 194px;
	}

	.attraction-subtitle {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-top: 14px;
	}

	.attraction-img {
		width: 227px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.button {
		display: inline-block;
		background-color: #99CCE8;
		color: #1E1E1E;
		font-size: 11.5px;
		border-radius: 60px;
		padding: 5px 5px;
		text-decoration: none;
		margin: 15px;
		margin-top: 0%;
		margin-bottom: 0%;
		cursor: pointer;
	}

	.tips-img {
		display: none;
	}

	.tips-title {
		background-image: url(../images/tips.jpg);
		display: flex;
		position: relative;
		height: 151px;
		background-size: cover;
		background-position: center;
		justify-content: center;
		align-items: center;
	}

	.tips-intro {
		margin: 25px;
		margin-top: 20px;
		margin-bottom: 0px;
	}

	.tips {
		list-style-type: none;
		padding: 10px;
		margin-top: 0;
		gap: 10px;
	}

	.tips-subtitle {
		display: flex;
		justify-content: left;
		align-items: center;
		margin-left: 15px;
		margin-bottom: 5px;
		margin-top: 5px;
		position: relative;
		display: inline-block;
	}

	.tips-subtitle::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: -4px;
		height: 4px;
		background: #ECF5EC;
		width: 100%;/
	}

	.tips-main {
		margin-top: 1px;
	}

	.history-title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.history-main {
		background-color: #EEE3D4;
		width: auto;
		margin: 15px;
		padding: 10px;
		border-radius: 15px;
	}

	/* the following is font*/
	h1 {
		font-family: 'Bodoni Moda', sans-serif;
		font-size: 40px;
		color: #F9F2F3;
	}

	h2 {
		font-family: 'Bodoni Moda', sans-serif;
		font-size: 25px;
		position: relative;
	}

	.tips-title {
		font-family: 'Bodoni Moda', sans-serif;
		font-size: 25px;
		position: relative;
		color: #FFFFFF;
	}

	.tips-subtitle {
		font-size: 12px;
	}

	h3 {
		font-family: 'Kurale', sans-serif;
		font-size: 18px;
		color: #1E1E1E;
	}

	p {
		font-family: 'Jacques Francois', sans-serif;
		font-size: 11.5px;
	}

	ul {
		list-style-type: none;
		font-family: 'Jacques Francois', sans-serif;
		font-size: 15px;
	}

	ol {
		font-family: 'Kurale', sans-serif;
		font-size: 18px;
	}
}

@media screen and (min-width: 321px) and (max-width: 834px) {
	img {
		width: 100%;
	}

	.introduction {
		grid-template-columns: repeat (3, 1fr);
	}

	.pic2 {
		width: 601px;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.links-main {
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		justify-items: space-around;
		gap: 140px;
	}

	.link-button {
		display: inline-block;
		background-color: #D4D4FC;
		color: #1E1E1E;
		border-radius: 60px;
		padding: 3px 10px;
		text-decoration: none;
		margin-bottom: 0px;
		cursor: pointer;
		margin-top: 45px;
		margin-bottom: 45px;
	}

	html {
		scroll-behavior: smooth;
	}

	.attractions-title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-top: 55px;
		margin-bottom: 8px;
	}

	.attractions-title::after {
		content: '';
		position: absolute;
		bottom: 4px;
		height: 6px;
		background: #EDDECD;
		border-radius: 4px;
		width: 294px;
		z-index: -1;
	}

	.attractions-main {
		margin: auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 25px;
		padding: 25px;
		justify-content: center;
	}

	.attraction-article:nth-last-child(5) {
		grid-column: 1 / -1;
	}

	.attraction-img {
		width: 321px;
		height: 201px;
	}

	.attraction-p {
		margin-top: 21px;
		margin-bottom: 21px;
	}

	.button {
		display: inline-block;
		background-color: #FADDBC;
		color: #1E1E1E;
		font-size: 20px;
		border-radius: 60px;
		padding: 5px 5px;
		text-decoration: none;
		margin: 0%;
		cursor: pointer;
	}

	.tips-introduction {
		display: flex;
		align-items: center;
		margin-top: 35px;
		margin-bottom: 15px;
	}

	.tips-img {
		width: 469px;
		height: 344px;
		flex: 1;
	}

	.tips-bgn {
		flex: 1;
		padding: 30px;
	}

	.travel-tips {
		display: flex;
		justify-content: center;
		margin-bottom: 5px;
	}

	.tips-intro {
		background-color: #DDF3FF;
		width: auto;
		padding: 15px;
		border-radius: 40px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.tips {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 25px;
		column-gap: 25px;
		padding-top: 0;
		margin-top: 25px;
		margin-bottom: 45px;
	}

	.tips-subtitle {
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
		margin-top: 25px;
	}

	.tips-subtitle::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 4px;
		height: 15px;
		background: #ECF5EC;
		width: 100%;
		z-index: -1;
	}

	.tips-main {
		margin-top: 0;
		margin-bottom: 0;
	}

	#History {
		background-color: #FFEBE7;
		gap: 23px;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.picture4 {
		width: 588px;
		height: 403px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.history-title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-top: 23px;
		margin-bottom: 23px;
	}

	.history-main {
		display: flex;
		justify-content: center;
		align-items: center;
		width: auto;
		margin-left: 140px;
		margin-right: 140px;
		margin-bottom: 15px;
	}

	/* the following is font*/
	h1 {
		font-family: 'Bodoni Moda', sans-serif;
		font-size: 60px;
		color: #9C4A4D;
	}

	h2 {
		font-family: 'Bodoni Moda', sans-serif;
		font-size: 35px;
		position: relative;
	}

	.tips-title {
		font-family: 'Bodoni Moda', sans-serif;
		font-size: 25px;
		position: relative;
		color: #1E1E1E;
	}

	.tips-subtitle {
		font-size: 25px;
	}

	h3 {
		font-family: 'Kurale', sans-serif;
		font-size: 25px;
		color: #1E1E1E;
	}

	p {
		font-family: 'Jacques Francois', sans-serif;
		font-size: 20px;
		line-height: 1.5;
	}

	ul {
		list-style-type: none;
		font-family: 'Jacques Francois', sans-serif;
		font-size: 15px;
	}

	ol {
		font-family: 'Kurale', sans-serif;
		font-size: 18px;
		list-style-type: none;
	}
}