@media screen and (max-width: 320px) {
	body {
		max-width: 320px;
	}

	img {
		width: 100%;
	}

	.introduction {
		background-color: #FFF3F3;
	}

	.main-title {
		background-image: url(../images/beijing1.jpg);
		display: flex;
		position: relative;
		height: 157px;
		background-size: cover;
		justify-content: center;
		align-items: center;
		background-position: center;
	}

	p {
		margin: 15px;
		width: 268px;
		margin-bottom: 10px;
	}

	.intro-main {
		margin-top: 0%;
		margin-bottom: 5px;
		padding: 10px;
		width: auto;
	}

	.links-main {
		margin-top: 20px;
		margin-bottom: 20px;
		display: grid;
		justify-items: center;
		padding-left: 0%;
	}

	.link-button {
		display: inline-block;
		background-color: #FFD9B8;
		color: #1E1E1E;
		border-radius: 60px;
		padding: 3px 10px;
		text-decoration: none;
		margin-bottom: 15px;
	}

	html {
		scroll-behavior: smooth;
	}

	.pic3 {
		margin-top: 0%;
	}

	.attractions-main {
		list-style-type: none;
		margin-top: 0;
		background-color: #FFF6EE;
		width: auto;
		margin-left: 0px;
		padding: 10px;
	}

	.attractions-title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-top: 14px;
		margin-bottom: 14px;
	}

	.attractions-title::after {
		content: '';
		position: absolute;
		bottom: -0.2px;
		height: 4px;
		background: #FFF6EE;
		width: 194px;
	}

	.attraction-subtitle {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-top: 14px;
	}

	.attraction-img {
		width: 227px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.button {
		display: inline-block;
		background-color: #99CCE8;
		color: #1E1E1E;
		font-size: 11.5px;
		border-radius: 60px;
		padding: 5px 5px;
		text-decoration: none;
		margin: 15px;
		margin-top: 0%;
		margin-bottom: 0%;
	}

	.tips-title {
		background-image: url(../images/tips.jpg);
		display: flex;
		position: relative;
		height: 151px;
		background-size: cover;
		background-position: center;
		justify-content: center;
		align-items: center;

	}

	.tips {
		list-style-type: none;
		padding-left: 0;
		margin-top: 0;
		gap: 10px;
	}

	.tips-subtitle {
		display: flex;
		justify-content: left;
		align-items: center;
		margin-left: 15px;
		margin-bottom: 5px;
		margin-top: 5px;
		position: relative;
		display: inline-block;
	}

	.tips-subtitle::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: -4px;
		height: 4px;
		background: #ECF5EC;
		width: 100%;/
	}

	.tips-main {
		margin-top: 1px;
	}

	.history-title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.history-main {
		background-color: #EEE3D4;
		width: auto;
		margin: 15px;
		padding: 10px;
		border-radius: 15px;
	}

	/* the following is font*/
	h1 {
		font-family: 'Bodoni Moda', sans-serif;
		font-size: 40px;
		color: #F9F2F3;
	}

	h2 {
		font-family: 'Bodoni Moda', sans-serif;
		font-size: 25px;
		position: relative;
	}

	.tips-title {
		font-family: 'Bodoni Moda', sans-serif;
		font-size: 25px;
		position: relative;
		color: #FFFFFF;
	}

	.tips-subtitle {
		font-size: 12px;
	}

	h3 {
		font-family: 'Kurale', sans-serif;
		font-size: 18px;
		color: #1E1E1E;
	}

	p {
		font-family: 'Jacques Francois', sans-serif;
		font-size: 11.5px;
	}

	ul {
		list-style-type: none;
		font-family: 'Jacques Francois', sans-serif;
		font-size: 15px;
	}

	ol {
		font-family: 'Kurale', sans-serif;
		font-size: 18px;
	}
}